
.message .ping {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
.message .author-name {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
.multi-message .content {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
.message .content {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
.message .time {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
.multi-message .time {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
.window .welcome-channel-description {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
.window .welcome-channel-name {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
.window .welcome-text {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
.sidebar-2 .category .name {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
.sidebar-2 .category .channel .channel-name {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
.sidebar-2 .category .name-open {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
.sidebar-2 .user-info .username {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
.sidebar-2 .channel-name {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
.valour-version {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
.valour-name {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
.rolename {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
.sidebar-user .state {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
.sidebar-user .staff-tag p {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
.sidebar-user .bot-tag p {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
.sidebar-user .username {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
.add-channel-button {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
.context-menu-item-text {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
*::-webkit-scrollbar-track {
  background: #2f3136 !important;
  border: 4px solid transparent !important;
  border-radius: 8px !important;
  background-clip: padding-box !important;
}
*::-webkit-scrollbar-thumb {
  background-color: #202225 !important;
  border-radius: 8px !important;
  border: 4px solid transparent !important;
  background-clip: padding-box !important;
}
*::-webkit-scrollbar {
  width: 16px !important;
}
:root {
  --primary-color: #040d14 !important;
  --secondary-color: #aaaaaa !important;
  --font-color: #ffffff !important;
  --bg-color: #040d14 !important;
  --heading-color: #040d14 !important;
  --link-color: #00b0f4 !important;
  --border-color: #303030 !important;
  --alt-border-color: #666666 !important;
  --input-color: #000000 !important;
  --comment-hue: rgba(0, 0, 0, 0.02) !important;
  --main-1: #202225 !important;
  --main-2: #2f3136 !important;
  --main-3: #202223 !important;
  --main-4: #36393f !important;
  --main-5: #212f3a !important;
}
.sidebar-2 .category {
  max-width: 269px !important;
  background: rgba(255, 255, 255, 0.07) !important;
  border-radius: 5px !important;
  margin-right: auto !important;
  margin-left: 10px !important;
}
.topbar {
  display: none !important;
}
.topline {
  display: none !important;
}
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
.message .author-name {
  font-family: inherit !important;
}